* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  width: 600px;
}

.userCard {
  padding: 15px;
  border: 2px solid rgb(63, 37, 216);
  margin-top: 15px;
  /* justify-content: space-between; */
  align-items: center;
}

.btn {
  width: 50px;
  font-size: medium;
}
